<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="true">
  <div class="signlist">

  <ion-list>
    <ion-item>
      <ion-label color="primary">First Name</ion-label>
      <ion-input placeholder="Text Input" ng-model="data.fname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Last Name</ion-label>
      <ion-input placeholder="Text Input" ng-model="data.lname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input type="email" placeholder="Email Input" ng-model="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Password</ion-label>
      <ion-input type="password" placeholder="Password Input" ng-model="data.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Confirm Password</ion-label>
      <ion-input type="password" placeholder="Password Input" ng-model="data.confirm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Upload Avtar</ion-label>
      <ion-input type = "file" value="" (change)="fileChange($event)" ng-model="data.photo"></ion-input>
    </ion-item>
  </ion-list>
  <img *ngIf="img1" [src]="img1"/>
  <div class = 'signUpButton'><button (click)="signup(data)" ion-button round>Sign Up!</button></div>
</div>

</ion-content>
