page-home {

    .btntext{
      font-size: 25px;
    }

    .container {
      position: relative;
      //width: 50%;
  }

  .image {
    opacity: 1;
    display: block;
    //width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    min-height: 200px;
    background-size: cover;
    border-radius: 50px;
    height: 300px;
    width: 650px;
    margin-left: 30px;
    margin-top: 20px;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.6;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: transparent;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 16px 32px;
  }
  .row{
  align-items: center;
  }
      //
      // @media (min-width: 0px) {
      //     .images {
      //         column-count: 2;
      //     }
      // }
      //
      // @media (min-width: 420px) {
      //     .images {
      //         column-count: 3;
      //     }
      // }
      //
      // @media (min-width: 720px) {
      //     .images {
      //         column-count: 4;
      //     }
      // }
      //
      // .one-image {
      //     margin: 2px;
      // }
}
