page-yosemite {
  .fill {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden
  }
  .fill img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
  }
  margin:0;
  padding:0;

  section{
    width: 100%;
    height:100vh;
    box-sizing: border-box;
  }
  section.question1{
    background: url("../../assets/imgs/Yosemite/quiz/1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.85;
    position:relative;
  }

  section.question2{
    background: url("../../assets/imgs/Yosemite/quiz/2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.65;
    position:relative;


  }
  section.question3{
    background: url("../../assets/imgs/Yosemite/quiz/3.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.80;
    position:relative;


  }
  section.question4{
    background: url("../../assets/imgs/Yosemite/quiz/4.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.80;
    position:relative;


  }
  span.border{
    background-color: transparent;
    font-size:25px;
    font-family: "Lato";
    color: #f7f7f7;
    font-weight: bold;
  }
  .caption{
    position: absolute;
    left:0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  div {
    display: block;
  }


}
