.profilelist{
margin: auto;
width: 600px;
height: 70%;
margin-top: -42%;

}
.saveProfileButton{
margin: auto;
width: 0%;
height: 100%;
}
.img{
  width: 180px;
  height: 180px;
  -webkit-border-radius: 50%;
      border-radius: 50%;
  margin-left: 5%;
  margin-right: auto;
}
