.dollarlogo{
  height: 400px;
  width: 400px;
  display: block;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
}
.main { background-image: url('../../assets/imgs/jumbo1.png');
   height: 55%;
   width: 100%;
   background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.byblk{
  height: 25px;
  width: 200px;
  margin-left: 73%;
  margin-top: -50px;
}

.heading{
  text-align: center;
  //font-family: "American Typewriter", serif;
  font-family: "Lato";
  //font-weight: bold;
  color:#00bdf5;
  font-size: 110px;
}
.center{
  margin: auto;
  width: 20%;
  //margin-left: 800px;
  //margin-top: -150px;
  //position: absolute;
  //border: 3px solid #73AD21;
}
.btn{
  width:80%;
  margin-left: 20px;
}
.fb{
  height: 40px;
  width: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cardsize{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
