page-score-board {
  .getstart { background-image: url('../../assets/imgs/bg.jpg');
     height: 100%;
     width: 100%;
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .table{
    margin-left : 10%;
    margin-right : 10%;
    margin-top: 5%;
    background-color: rgba(255,255,255,0.8);
  }
.datatable-header {
      //background: rgba(240, 240, 240, 1);
      padding: 1em 0 0 1em;
      color : White;
   }
   .optText{
     font-size:40px;
     font-family: "Lato";
   }
   .btn{
     height: 50px;
     width: 500px;
   }
 .datatable-header-cell {
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
    margin-top : -3.2%;
    margin-left : -1.0%;
    color : Black;
    //color : Blue;
 }
 .share{
   margin-top: 15px;
   height: 10%;
   width: 20%;
 }

 .datatable-body-row {
    padding: 0;
 }

 .datatable-row-odd {
    //background: rgba(240, 240, 240, 1);
    color : Black;
 }

 .datatable-row-even {
    //background: rgba(255, 255, 255,1);
    color : Black;
 }

 .datatable-body-cell {
    font-size: 1.2em;
    padding: 1em;
    margin-top : -1.2%;
    color : Black;
 }
}
