page-score-board {

  .table{
    margin-left : 10%;
    margin-right : 10%;
    margin-top: 5%;
  }
.datatable-header {
      background: rgba(240, 240, 240, 1);
      padding: 1em 0 0 1em;
   }

 .datatable-header-cell {
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
    margin-top : -3.2%;
    margin-left : -1.0%;
    //color : Blue;
 }

 .datatable-body-row {
    padding: 0;
 }

 .datatable-row-odd {
    background: rgba(240, 240, 240, 1);
    color : Blue;
 }

 .datatable-row-even {
    background: rgba(255, 255, 255,1);
    color : Blue;
 }

 .datatable-body-cell {
    font-size: 1.2em;
    padding: 1em;
    margin-top : -1.2%;
    color : Blue;
 }
}
